@font-face {
  /* This specific font causes all letters to appear in upperCase */
  font-family: EraserRegular;
  src: url(./../fonts/EraserRegular.ttf);
}

* {
  margin: 0;
  border: none;
}

/* Below for displaying checkbox square. Absent previously due to CSS reset */
input[type="checkbox"] {
  appearance: auto;
}

input,
select {
  border: 1px solid grey;
}

:root {
  height: 100vh;
}

#header, #main {
  font-family: EraserRegular;
}

#header, #main, #footer {
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: visible;
  box-sizing: border-box;
  margin: 0px;
  appearance: none;
  background-image: url(./../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  justify-content: space-between;
  align-items: center;
}

#header {
  height: 15%;
  display: flex;
  font-size: 1.7em;
  color: #ebebeb;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  justify-content: flex-start;
}

#board {
  display: grid;
  grid-template: 130px 130px 130px / 130px 130px 130px;
  padding: 1% 0% 1%;
}

.board-cells,
#board-cell-2,
#board-cell-4,
#board-cell-5,
#board-cell-6,
#board-cell-8 {
  border: 5px white;
  border-radius: 5px;
  color: #ebebeb;
  font-size: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-cell-2,
#board-cell-8 {
  border-style: none solid;
}

#board-cell-4,
#board-cell-6 {
  border-style: solid none;
}

#board-cell-5 {
  border: 5px solid white;
  border-radius: 5px;
}

#game-options {
  text-align: center;
  font-size: 3em;
}

.game-options-p {
  color: #ebebeb;
  padding: 5px 0px;
}

#quit-game-p,
#replay-game-p,
#player-turn-p {
  display: none;
}

#new-game-p,
#replay-game-p,
#quit-game-p,
.board-cells {
  cursor: pointer;
}

#form-button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  background: lightgreen;
  color: forestgreen;
  font-weight: bold;
  margin-top: 10%;
}

#form-button:hover {
  background: darkorange;
  color: whitesmoke;
}

.message {
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* modal related code starting here... */
.modal {
  /* font-family: 'OpenSans'; */
  /* font-family: 'cursive'; */
  /* font-weight: bold; */
  display: none;
  position: fixed;
  /* Sit on top */
  z-index: 1;
  /* Location of the box */
  padding-top: 15%;

  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 15px 30px 20px 30px;
  border: 1px solid #888;
  border-radius: 0px 10px 10px 0px;
  width: 21%;
  min-width: fit-content;
}

#modal-content-form {
  padding: 20px 0px 0px;
}

#modal-content-form #form {
  display: flex;
  flex-direction: column;
}


.label-and-tooltip-pair-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;

}

.heading {
  font-size: 0.98em;
  letter-spacing: 0.03em;
}

input:focus {
  outline: none;
  box-shadow: 0 3px 6px 0 lightgray;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: #E5E7EB;
}

input,
select {
  padding: 5px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

input:placeholder-shown {
  padding: 5px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

.form-input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3% 0%;
}

.form-input-div label {
  margin-bottom: 3px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal related code ending here... */

#footer {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#footer p {
  padding: 0 1px;
}

#footer a {
  color: #a9a9a9;
  font-style: italic;
}

/*............................. Image credit related popup code.starting here.......................... */
/* taken from  */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: 7%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 30%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
}
/*............................. Image credit related popup code ending here........................... */